.drawer-fade-enter-active,
.drawer-fade-leave-active {
  transition: opacity 0.15s;

  .drawer {
    transition: transform 0.25s ease;
  }
}

.drawer-fade-enter-from,
.drawer-fade-leave-to {
  opacity: 0;

  .drawer {
    transform: translateY(40px);
  }
}


.open-home-page {
  &-enter-active,
  &-leave-active {
    transition: transform .25s ease;
  }

  &-leave-active {
    position: absolute;
    z-index: 1;
  }

  &-leave-from {
    transform: translateX(0);
  }

  &-leave-to {
    transform: translateX(100%);
  }

  &-enter-from {
    transform: translateX(-100px);
  }

  &-enter-to {
    transform: translateX(0);
  }
}


.open-secondary-page {
  &-enter-active,
  &-leave-active {
    transition: transform .25s ease;
  }

  &-enter-active {
    position: absolute;
    top: 0;
    //z-index: 1000;
  }

  &-enter-from {
    transform: translateX(100%);
  }

  &-enter-to {
    transform: translateX(0);
  }

  &-leave-from {
    transform: translateX(0);
  }

  &-leave-to {
    transform: translateX(-100px);
  }
}

.roll {
  &-enter-active,
  &-leave-active {
    transition: transform .1s ease;
    transform-origin: top right;
  }

  &-enter-from,
  &-leave-to {
    transform: scale(0, 0);
  }
}

.delete {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: transform .25s ease, height .125s .125s ease, opacity .25s ease;

    .dropdown__menu {
      display: none;
    }
  }

  &-leave-to {
    opacity: 0;
    height: 0 !important;
    transform: translateX(-110%);
  }
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.25s ease;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}