.btn {
  @apply inline-flex items-center justify-center h-12 px-8 font-semibold rounded-lg;
  @apply active:scale-[0.99] transition-transform duration-[0.05s];
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    @apply bg-gray-200 text-gray-400 pointer-events-none;
  }

  &_primary {
    @apply text-white bg-blue-500;
    &:not(:disabled) {
      @apply hover:bg-blue-600 focus:bg-blue-500 active:bg-blue-600;
    }
  }

  &_success {
    @apply text-white bg-green-500;
    &:not(:disabled) {
      @apply hover:bg-green-600 focus:bg-green-500 active:bg-green-600;
    }
  }

  &__loader {
    width: 1.5em;
    height: 1.5em;
    border: 3px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: loading 1s linear infinite;
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
