input::placeholder {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #9ca3aF !important;
}

.form {
  &-label {
    @apply block text-sm font-semibold text-gray-700 mb-1;
  }

  &-input {
    @apply h-12 rounded-lg w-full border-gray-200 shadow-sm;
    &_error {
      @apply border-red-600;
    }

    &__help-text {
      @apply text-xs text-gray-400 mt-1;
      &_error {
        @apply text-red-600;
      }
    }
  }
}